<!-- 引入notifications的模板标签 -->
{% load notifications_tags %}
{% notifications_unread as unread_count %}
{% load static %}





<!-- 页面第一栏头像设计 -->
<div class="row">
  <div class="header" style="  background-color: rgba(255,255,255,0); padding: 5px; text-align: center;">
    <img src= {% static 'logo/logo.png' %} class="rounded-circle img-zoomable" style="height:50px; border: 2px solid #e1dcd9; padding: 2px" alt="Mr. Yang">
    <svg id="heart" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-suit-heart-fill text-danger" viewBox="0 0 16 16">
      <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
    </svg>
    <img src= {% static 'logo/logo1.png' %} class="rounded-circle img-zoomable" style="height:50px; border: 2px solid #e1dcd9; padding: 2px" alt="Miss. He">
  </div>
</div>



<!-- 定义导航栏 -->
<div class="row" style="background-color: rgba(255,255,255,0); ">
  <div class="col-3"></div>
  <nav class="col-6 navbar navbar-expand-lg navbar-dark" style="background-color: rgba(255,255,255,0);; border:2px solid white; margin:2px">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">


      <ul class="navbar-nav">
        <!-- 条目 -->
        <li class="nav-item myNav">
          <a class="nav-link"  href="{% url 'article:article_list' %}">所有文章</a>
        </li>
        <li class="nav-item myNav" >
          <a class="nav-link" href="{% url 'article:article_create' %}">新建文章</a>
        </li>
        <!-- Django的 if 模板语句 -->
        {% if user.is_authenticated %}
        <!-- 如果用户已经登录，则显示用户名下拉框 -->
        <li class="nav-item dropdown myNav">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <!-- 新增代码，小红点 -->
                      {% if unread_count %}
                          <svg viewBox="0 0 8 8"
                               width="8px"
                               height="8px">
                              <circle cx="4"
                                      cy="4"
                                      r="4"
                                      fill="#ff6b6b"
                                      ></circle>
                          </svg>
                      {% endif %}

                      {{ user.username }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href='{% url "userprofile:edit" user.id %}'>个人信息</a>
              <!-- 新增代码，通知计数 -->
             <a class="dropdown-item" href="{% url "notice:list" %}">通知
                 {% if unread_count %}
                 <span class="btn btn-sm btn-danger">{{ unread_count }}</span>
                 {% endif %}
             </a>
              <a class="dropdown-item" href='{% url "userprofile:logout" %}'>退出登录</a>
              <a class="dropdown-item" href="#" onclick="user_delete()">删除用户</a>
            </div>
            <!-- 新增 -->
            {% if user.is_authenticated %}
            <form
                style="display:none;"
                id="user_delete"
                action="{% url 'userprofile:delete' user.id %}"
                method="POST"
            >
            {% csrf_token %}
                <button type="submit">发送</button>
            </form>
                <script>
                    function user_delete() {
                        // 调用layer弹窗组件
                        layer.open({
                            title: "确认删除",
                            content: "确认删除用户资料吗？",
                            yes: function(index, layero) {
                                $('form#user_delete button').click();
                                layer.close(index);
                            },
                        })
                    }
                </script>
        {% endif %}
        </li>
        <!-- 如果用户未登录，则显示 “登录” -->
        {% else %}
        <li class="nav-item myNav">
            <a class="nav-link" href="{% url 'userprofile:login' %}">登录</a>
        </li>
        <!-- if 语句在这里结束 -->
         {% endif %}
      </ul>
    </div>
  </nav>
  <div class="col-3"></div>
</div>
