<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load staticfiles %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    首页
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<div class="container-fluid">
  <div class="row">
      <div class="col-sm-3" style="text-align: center">
      <br>
      <br>
      <!-- 文章排序 -->
      <div class="row" style="display: inline-block">
        <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                      <a class="btn btn-outline-info" href="{% url 'article:article_list' %}?search={{ search }}&column={{ column }}&tag={{ tag }}">
                          最新
                      </a>
                  </li>
                  <li class="breadcrumb-item">
                      <a class="btn btn-outline-info" href="{% url 'article:article_list' %}?order=total_views&search={{ search }}&column={{ column }}&tag={{ tag }}">
                          最热
                      </a>
                  </li>
              </ol>
        </nav>
      </div>

      <!-- 搜索栏 -->
      <div class="row">
          <div class="col-2">
          </div>
          <div class="col-8 mr-auto">
              <form class="form-inline" >
                  <label class="sr-only">content</label>
                  <input type="text"
                      class="form-control mb-2 mr-sm-2"
                      name="search"
                      placeholder="搜索文章..."
                      required
                  >
              </form>
          </div>
          <div class="col-2">
          </div>
      </div>

      <!-- 搜索提示语 -->
      <div class="row" style="color:rgb(255,255,255)">
        {% if search %}
            {% if articles %}
                <h4><span style="color: red">"{{ search }}"</span>的搜索结果如下：</h4>
            {% else %}
                <h4>暂无<span style="color: red">"{{ search }}"</span>有关的文章。</h4>
            {% endif %}
        {% endif %}
      </div>
    </div>

    <div class="col-sm-9 row-same-height">
      <br>
      <br>
      <!-- 文章内容 -->
      <div class="row">
        {% for article in articles %}
        <!-- 标题图 -->
          <div class="col-1"></div>
          {% if article.avatar %}
              <div class="col-4" style="margin-bottom: 10px">
                  <img src="{{ article.avatar.url }}"
                       alt="{{ article.title}}"
                       style="max-width:100%; border-radius: 20px"
                       class="img-zoomable"
                  >
              </div>
          {% endif %}

        <!-- 文章内容 -->
        <div class="col">
            <!-- 栏目 -->
            {% if article.column %}
                <button type="button"
                    class="btn mb-2 btn-outline-warning
                    "
                >
                    {{ article.column }}
                </button>
            {% endif %}
            <!-- 标签 -->
              <span>
                  {% for tag in article.tags.all %}

                      <a href="{% url 'article:article_list' %}?tag={{ tag }}" class="btn btn-sm btn-outline-dark">
                          {{ tag }}
                      </a>
                  {% endfor %}
              </span>
            <!-- 标题 -->
            <h4>
                <b>
                    <a href="{% url 'article:article_detail' article.id %}"
                       style="color: white;"
                    >
                        {{ article.title }}
                    </a>
                </b>
            </h4>
            <!-- 摘要 -->
            <div>
                <p style="color: white;">
                    {{ article.body|slice:'100' }}...
                </p>
            </div>
            <!-- 注脚 -->
            <p>
                <!-- 附加信息 -->
                <span style="color: white;">
                    <i class="fas fa-eye" style="color: white;"></i>
                    {{ article.total_views }} 浏览&nbsp;&nbsp;&nbsp;
                </span>
                <span style="color: white;">
                  <i class="fas fa-comments" style="color: white;"></i>
                    {{ article.created|date:'Y-m-d' }} 发布&nbsp;&nbsp;&nbsp;
                </span>
                <span style="color: white;">
                  <i class="fas fa-clock" style="color: white;"></i>
                    {{ article.updated|date:'Y-m-d' }} 更新
                </span>
            </p>
        </div>
        <hr style="width: 100%;"/>
            {% endfor %}
      </div>
      <!-- 页码导航 -->
      <div class="pagination row" style="text-align:center">
          <div class="m-auto" style="display:inline-block">
              <span class="step-links">
                  <!-- 如果不是第一页，则显示上翻按钮 -->
                  {% if articles.has_previous %}
                      <a href="?page=1&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}" class="btn btn-outline-light">
                          &laquo; 1
                      </a>
                      <span>...</span>
                      <a href="?page={{ articles.previous_page_number }}&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}"
                         class="btn btn-outline-light"
                      >
                          {{ articles.previous_page_number }}
                      </a>
                  {% endif %}

                  <!-- 当前页面 -->
                  <span class="current btn btn-light btn-lg">
                      {{ articles.number }}
                  </span>

                  <!-- 如果不是最末页，则显示下翻按钮 -->
                  {% if articles.has_next %}
                      <a href="?page={{ articles.next_page_number }}&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}"
                         class="btn btn-outline-light"
                      >
                          {{ articles.next_page_number }}
                      </a>
                      <span>...</span>
                      <a href="?page={{ articles.paginator.num_pages }}&order={{ order }}&search={{ search }}&column={{ column }}&tag={{ tag }}"
                         class="btn btn-outline-light"
                      >
                          {{ articles.paginator.num_pages }} &raquo;
                      </a>
                  {% endif %}
              </span>
          </div>
      </div>
    </div>
  </div>



  </div>


</div>
{% endblock content %}
